.container {
  width: 100%;
  margin: 0 auto;
  max-height: 1200px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    " first first"
    "second third";
}
body {
}
